<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="prod">
        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://host:3306/db_name"/>
                <property name="username" value="user"/>
                <property name="password" value="pass"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/ArticleEntryMapper.xml"/>
    </mappers>
</configuration>